altgraph==0.10.2
apipkg==1.4
Babel==2.3.4
bdist-mpkg==0.5.0
bonjour-py==0.3
click==6.6
coreapi==2.1.1
coreapi-cli==1.0.6
coverage==4.3.1
dj-database-url==0.4.1
Django==1.9.7
django-braces==1.10.0
django-category==1.9
django-cors-headers==1.3.1
django-crispy-forms==1.6.0
django-likes==1.10
-e git+https://github.com/praekelt/django-livechat.git@22d86fb4219e5af6c83e0542aa30e5ea54e71d26#egg=django_livechat
django-markdown-deux==1.0.5
django-oauth-toolkit==0.11.0
django-pagedown==0.1.1
django-phonenumber-field==1.1.0
django-photologue==3.6
django-preferences==0.1
django-publisher==0.0.3
django-relationships==0.3.3
django-rest-framework-social-oauth2==1.0.5
django-rest-swagger==2.1.1
django-sites-groups==1.9.2
django-stdimage==2.3.3
django-tastypie==0.13.3
djangorestframework==3.5.3
djangorestframework-jwt==1.9.0
djoser==0.5.1
execnet==1.4.1
ExifRead==2.1.2
ez-setup==0.9
gunicorn==19.6.0
httpie==0.9.9
itypes==1.1.0
jmbo==0.5.5
macholib==1.5.1
Markdown==2.6.7
markdown2==2.3.1
matplotlib==1.3.1
modulegraph==0.10.4
numpy==1.8.0rc1
oauthlib==1.1.2
openapi-codec==1.2.1
phonenumberslite==8.0.0
Pillow==3.1.0
progressbar2==3.12.0
psycopg2==2.6.1
py==1.4.32
py2app==0.7.3
Pygments==2.1.3
PyJWT==1.4.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
pytest==3.0.5
pytest-cov==2.4.0
pytest-django==3.1.2
pytest-xdist==1.15.0
python-dateutil==1.5
python-mimeparse==1.6.0
python-openid==2.2.5
python-utils==2.0.1
pytz==2013.7
requests==2.12.4
requests-oauthlib==0.7.0
scipy==0.13.0b1
simplejson==3.10.0
six==1.4.1
social-auth-app-django==0.1.0
social-auth-core==0.2.1
South==0.8.1
uritemplate==3.0.0
virtualenv==15.1.0
whitenoise==2.0.6
xattr==0.6.4
zope.interface==4.1.1
